aiobotocore==2.22.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aioitertools==0.12.0
aiosignal==1.3.2
aiosqlite==0.20.0
alembic==1.15.2
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
attrs==25.3.0
backoff==2.2.1
bcrypt==4.3.0
black==23.12.1
boto3==1.37.3
botocore==1.37.3
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.3
chromadb==0.4.24
cleo==2.1.0
click==8.1.8
cognee==0.1.39
coloredlogs==15.0.1
contourpy==1.3.2
coverage==7.8.0
crashtest==0.4.1
cryptography==44.0.2
cycler==0.12.1
Deprecated==1.2.18
deprecation==2.1.0
distlib==0.3.9
distro==1.9.0
dlt==1.10.0
dnspython==2.7.0
docstring_parser==0.16
dulwich==0.22.8
durationpy==0.9
ecdsa==0.19.1
email_validator==2.2.0
fastapi==0.115.7
fastapi-users==14.0.1
fastapi-users-db-sqlalchemy==7.0.0
fastjsonschema==2.21.1
filelock==3.18.0
filetype==1.2.0
findpython==0.6.3
flake8==6.1.0
flatbuffers==25.2.10
fonttools==4.57.0
frozenlist==1.6.0
fsspec==2025.3.2
gitdb==4.0.12
GitPython==3.1.44
giturlparse==0.12.0
google-auth==2.38.0
googleapis-common-protos==1.69.2
graphistry==0.33.9
greenlet==3.1.1
grpcio==1.71.0
h11==0.14.0
hexbytes==1.3.0
httpcore==1.0.8
httptools==0.6.4
httpx==0.25.2
huggingface-hub==0.30.2
humanfriendly==10.0
humanize==4.12.3
identify==2.6.10
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.1.0
installer==0.7.0
instructor==1.7.2
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.1
joblib==1.5.0
jsonpath-ng==1.7.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
keyring==25.6.0
kiwisolver==1.4.8
kubernetes==32.0.1
lancedb==0.16.0
langfuse==2.60.4
limits==4.8.0
litellm==1.68.1
makefun==1.16.0
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mccabe==0.7.0
mdurl==0.1.2
mmh3==5.1.0
monotonic==1.6
more-itertools==10.6.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.3
mypy-extensions==1.0.0
neo4j==5.28.1
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.21.0
openai==1.75.0
opentelemetry-api==1.32.0
opentelemetry-exporter-otlp-proto-common==1.32.0
opentelemetry-exporter-otlp-proto-grpc==1.32.0
opentelemetry-instrumentation==0.53b0
opentelemetry-instrumentation-asgi==0.53b0
opentelemetry-instrumentation-fastapi==0.53b0
opentelemetry-proto==1.32.0
opentelemetry-sdk==1.32.0
opentelemetry-semantic-conventions==0.53b0
opentelemetry-util-http==0.53b0
orjson==3.10.16
overrides==7.7.0
owlready2==0.47
packaging==24.2
palettable==3.3.3
pandas==2.2.3
passlib==1.7.4
pathspec==0.12.1
pathvalidate==3.2.3
pbs-installer==2025.4.9
pendulum==3.1.0
pillow==11.2.1
pkginfo==1.12.1.2
platformdirs==4.3.7
pluggy==1.5.0
ply==3.11
poetry==2.1.2
poetry-core==2.1.2
posthog==3.24.1
pre_commit==4.2.0
prometheus-client==0.17.1
propcache==0.3.1
protobuf==5.29.4
psutil==7.0.0
pulsar-client==3.6.1
pwdlib==0.2.1
pyarrow==20.0.0
pyasn1==0.4.8
pyasn1_modules==0.4.1
pycodestyle==2.11.1
pycparser==2.22
pydantic==2.10.5
pydantic-settings==2.8.1
pydantic_core==2.27.2
pyflakes==3.1.0
Pygments==2.19.1
PyJWT==2.10.1
pylance==0.19.2
pyparsing==3.2.3
pypdf==5.4.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pytest==7.4.4
pytest-asyncio==0.21.2
pytest-cov==4.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.4.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
RapidFuzz==3.13.0
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requirements-parser==0.11.0
rich==13.9.4
rich-argparse==1.7.0
rpds-py==0.24.0
rsa==4.9
s3fs==2025.3.2
s3transfer==0.11.3
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
SecretStorage==3.3.3
semver==3.0.4
sentry-sdk==2.27.0
setuptools==80.3.1
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.39
sqlglot==26.17.1
squarify==0.4.4
starlette==0.45.3
structlog==25.3.0
sympy==1.13.3
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.21.1
tomlkit==0.13.2
tqdm==4.67.1
transformers==4.51.3
trove-classifiers==2025.4.11.15
typer==0.15.2
types-setuptools==80.3.0.20250505
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.24.0.post1
uvloop==0.21.0
virtualenv==20.30.0
watchfiles==1.0.5
websocket-client==1.8.0
websockets==11.0.3
wrapt==1.17.2
yarl==1.20.0
zipp==3.21.0
zstandard==0.23.0
